export SCHEDULER_CONTAINERS_IP="{{range $i, $container := ls "/self/service/containers"}}{{if (ne $i 0)}},{{end}}{{getv (printf "/containers/%s/primary_ip" $container)}}{{end}}"
export SCHEDULER_CONTAINER_IP="{{getv "/self/container/primary_ip"}}"
export SCHEDULER_CONTAINER_NAME="{{getv "/self/container/name"}}"
export SCHEDULER_CONTAINER_INDEX="{{getv "/self/container/create_index"}}"
export SCHEDULER_CONTAINER_STATE="{{getv "/self/container/state"}}"
export SCHEDULER_SERVICE_NAME="{{getv "/self/service/name"}}"
export SCHEDULER_SERVICE_SCALE="{{getv "/self/service/scale"}}"
export SCHEDULER_CONTAINERS_COUNT="{{len (ls "/self/service/containers")}}"
export SCHEDULER_SERVICE_PORTS="{{ join (ls "/self/service/ports") ","}}"
export SCHEDULER_STACK_NAME="{{getv "/self/stack/name"}}"
export SCHEDULER_HOST_NAME="{{getv "/self/host/name"}}"
export SCHEDULER_HOST_IP="{{getv "/self/host/agent_ip"}}"
export SCHEDULER_HOST_HOSTNAME="{{getv "/self/host/hostname"}}"
