export SCHEDULER_CONTAINERS_IP="{{range $i, $container := ls "/service/containers"}}{{if (ne $i 0)}},{{end}}{{getv (printf "/containers/%s/primary_ip" $container)}}{{end}}"
export SCHEDULER_CONTAINER_IP="{{getv "/container/primary_ip"}}"
export SCHEDULER_CONTAINER_NAME="{{getv "/container/name"}}"
export SCHEDULER_CONTAINER_INDEX="{{getv "/container/create_index"}}"
export SCHEDULER_CONTAINER_STATE="{{getv "/container/state"}}"
export SCHEDULER_SERVICE_NAME="{{getv "/service/name"}}"
export SCHEDULER_SERVICE_SCALE="{{getv "/service/scale"}}"
export SCHEDULER_SERVICE_PORTS="{{ join (ls "/service/ports") ","}}"
export SCHEDULER_STACK_NAME="{{getv "/stack/name"}}"
export SCHEDULER_HOST_NAME="{{getv "/host/name"}}"
export SCHEDULER_HOST_IP="{{getv "/host/agent_ip"}}"
export SCHEDULER_HOST_HOSTNAME="{{getv "/host/hostname"}}"
